<div class="container">
    <h1>Business Contacts</h1>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Email Address</th>
                    </tr>
                </thead>
                <tbody id="contactList">
                    <!-- Repetable Rows -->
                    <% for(let count = 0; count < contacts.length; count++ ) { %>
                    <tr>
                        <th scope="row" class="text-center"><%= count + 1 %> </th>
                        <td><%= contacts[count].get('Contact Name') %></td>
                        <td><%= contacts[count].get('Contact Number') %></td>
                        <td><%= contacts[count].get('Email Address') %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
