<!-- Welcome Message Section -->
<div class="container jumbotron bg-secondary">
    <h1 class="display-4 text-center text-light">Welcome to the <%= title %> page of <br>my Personal Portfolio site</h1>
  </div>
  <!-- Mission Statement Section -->
  <section id="mission" class="container-fluid mx-auto d-flex text-center bg-info">
    <div class="container mx-auto d-flex p-auto flex-column">
      <h1 class="text-dark">Mission Statement:</h1>
      <p class="lead text-dark text-start">Software developer <strong>(C#, Python, JavaScript, HTML, CSS)</strong> seeking roles where I can leverage my
        analytical skills to support innovative research and product development in <strong>big data and data science</strong> applications.</p>
    </div>
  </section>
  <div id="checkMe" class="container-fluid jumbotron bg-secondary">
    <div class="d-flex flex-row flexItem">
      <figure class="figure text-center">
        <a href="/about" class="checkLink">
          <i class="fa-solid fa-atom fa-beat checkIcons"></i>
          <figcaption class="figure-caption text-light text-center mt-4 fs-5">Click to learn more about me</figcaption>
        </a>
      </figure>
    </div>
  </div>