  <!-- Bottom Navigation -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h7 class="display-8 navbar-text">&copy; 2022 Fred Wong</h7>
      </div>
    </nav>
  </footer>